body {
    background-color: #c7d64228;
    margin: 0;
    font-family: sans-serif;
}
html {
    font-size: 26px;
}
p, h1, h2, h3 {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 50px 0 #0006;
    font-family: "Calibri", sans-serif;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 10px  calc(50% - 500px);;
}
.img-start {
    height: 70px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px calc(50% - 500px);
   
}
div.container {
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
div.actions {
    margin: 30px;
    }


.card {
    width: 300px;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 #0006;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
}
.card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 5px 0 #0006, 0 0 15px 0 #0009;
    transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
    
}
/* .card p {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
} */

.img {
    height: auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .7;
    
}
.card:hover .img {
    opacity: 1;
    transition: 1s linear;
}
footer {
    box-shadow: 0 0 50px 0 #0006;
    font-family: "Calibri", sans-serif;
    color: rgb(0, 0, 0);
    background-color: white;
}
.rate img {
    height: 20px;
}
/* 
.info-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0008;
    align-items: center;
    justify-content: center;
    display: none;
}
.info-block.active {
    display: flex;
}
.info-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 0 50px;
    background-color: #fff;
    padding: 30px;
    border: 2px solid;
    border-radius: 10px;
    position: relative;
    max-width: 1000px;
}
.info-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-image: url(img/close.png);
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
.info-img {
    width: 100%;
    border-radius: 10px;
}
.information h2 {
    font-family: "Calibri", sans-serif;
    margin-bottom: 20px;
}
.information h3 {
    margin-bottom: 30px;
} */
label {
    margin: 10px;
    background-color: white;
    color: black;
    border: 2px solid #6cf;
    padding: 1px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Calibri", sans-serif;
    font-size: 14px;
}

button {
    margin: 10px;
    background-color: white;
    color: black;
    border: 2px solid rgb(36, 97, 128);
    border-radius: 5px;
    cursor: pointer;
    font-family: "Calibri", sans-serif;
    font-size: 14px;
  }

  input {
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #6cf;
    font-family: "Calibri", sans-serif;
    text-align: center;
    font-size: 14px;
}
.delete{
    font-family: "Calibri", sans-serif;
    text-align: end;
    font-size: 14px;
    color: red;
    font-weight: bold;
}
.update{
    font-family: "Calibri", sans-serif;
    text-align: end;
    font-size: 14px;
    color: orange;
    font-weight: bold;
}